{% extends 'admin.html.twig' %}
{% block content %}
  <h1 class="h1 mb-2 font-weight-bold text-gray-800"><i class="fas fa-fw fa-file-invoice"></i> &nbsp;{% trans %}Nueva Factura{% endtrans %}</h1>
  <hr/>


  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans %}Selecciona una Empresa{% endtrans %}</h6>
    </div>
    <div class="card-body">
      <form method="GET" action="{{action}}">
        <select class="form-control" name="id_empresa">
          {% for empresa in empresas %}
            <option value="{{empresa.id}}">{{empresa.razonsocial}}</option>
          {% endfor %}
        </select>
        <hr/>

        <input type="submit" class="btn btn-primary" value="Continuar"/>
        <a href="{{path('lista_facturas')}}" class="btn btn-danger">Cancelar</a>
      </form>
    </div>
  </div>

{% endblock %}
