<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}GaliERP{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
        <link rel="stylesheet" href="{{asset('vendor/sb-admin-2/sb-admin-2.css')}}">
        <!--link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"-->
        <!--link href="https://fonts.googleapis.com/css?family=Lato:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('css/galierp.css')}}">
        {% block stylesheets %}{% endblock %}
        <!--script src="https://kit.fontawesome.com/cf9af0309b.js"></script-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{asset('vendor/sb-admin-2/sb-admin-2.js')}}"></script>
        <script>
          $(document).ready(function(){
            $('.navbar-nav .nav-link[href^="' + location.pathname + '"]').parent().addClass('active');
            $('.navbar-nav .collapse-item[href="' + location.pathname + '"]').addClass('active').parent().parent().addClass('show').prev().removeClass('collapsed').attr('aria-expaned',"false").parent().addClass('active');

          });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
