{% extends 'admin.html.twig'%}
{% block content %}
<div class="alert alert-danger">
<p><b>Se ha producido el siguiente error</b></p><hr>
<pre class="text-danger"><b>{{status_code}} {{status_text}}</b> - <i>{{exception.message }}</i></pre>
</div>
{% endblock %}
